
header {
	background:#2c3e50;
	color:#fff;
}

.main {
	background:#f2f2f2;
}
.card-signin2 {
 background-color: #3b4652;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.75);
  opacity: .8;
}
.card-signin25 {
  background-color: #ffff;
  border: 0;
  width: 250px;
  height: 200px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.75);
}
.card-signin25:hover {
 -webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
}
.card-signin26 {
  background-color: #ffff;
  border: 0;
  width: 35px;
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.75);
}
.card-signin26:hover {
 -webkit-transform: scale(5);
-ms-transform: scale(5);
transform: scale(5);
}
.color1 {
	background: #34495e;
	color:#fff;
}
.texto-encima{
    position: relative;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 70%;
    left: 30%;
    right: 50%

    transform: translate(-50%, -50%);
}
aside {
	background:#c0392b;
	color:#fff;
}

footer {
	background:#16a085;
	color:#fff;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background: 
  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header_fijo {
  width: 1400px;
  height: 300px;
  table-layout: fixed;
  border-collapse: collapse;
}
.header_fijo thead {
  width: 1200px;
  background-color: #333;
  color: #FDFDFD;
}
.header_fijo td {
  width: 2500px;
  text-align: center;
}
.header_fijo th {
  width: 300px;
  align-content: center;
}
.header_fijo thead tr {
  display: block;
  position: relative;
}
.header_fijo tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 450px;
}
.bodycars2 {
  background: url(../../imagen/cars2.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  }

.bodya {
  background: url(../../imagen/a.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  font-family: comic sans ms;
  }

  .bodyindex {
  background: url(../../imagenes/music-player.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  }
  .bodyusuario {
  background: url(../../imagenes/musicausuario.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  }
  .bodyfav {
  background: url(../../imagenes/musica2.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  }
  .bodyalbum {
  background: url(../../imagenes/microfono2.png) no-repeat center top fixed;
  background-size: 100% 100%;
  }
  .bodygenero {
  background: url(../../imagenes/guitarraneon.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  }
  .bodyadmin {
  background: url(../../imagenes/musica-e-ciencia.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  }
  .bodybiblioteca {
  background: url(../../imagenes/musica-1.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  }
   .bodyza {
  background: url(../../imagen/roasview.jpg) no-repeat center top fixed;
  background-size: 100% 100%;

  }
  .bodytipoauto {
  background: url(../../imagen/tipo_auto.jpg) no-repeat center top fixed;
  background-size: 100% 100%;
  }

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.75);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}
.asc:after {
  content: ' ↑';
}
.table-wrapper-scroll-y {
display: block;
max-height: 500px;
max-width: 1500px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}
.desc:after {
  content: " ↓";
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
.container1{
width: 100%;
padding: 50;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 40px;
}
.texto-encima1{
    position: absolute;
    top: 160px;
    left: 64px;
}
.texto-encima9{
    position: absolute;
    top: 10px;
    left: 30px;
}
input[type=file].hidden {
  color: transparent;
}
